-e git+git@github.com:mne-tools/mne-python.git@7efad3b52c7b79460b5aa05475e1287c2c6acc4e#egg=mne
numpy
pandas
scikit-learn
matplotlib
seaborn
PyQt5
pyvista
-e git+git@github.com:mne-tools/mne-bids.git@a45695ed43394f067a776f0f51441723915bcbf5#egg=mne_bids
autoreject