mne-python==1.4.0
numpy
pandas==2.0.2
scikit-learn==1.0.2
matplotlib==3.7.1
seaborn==0.12.2
PyQt5
pyvista
mne-bids==0.12
autoreject==0.4.2
scipy==1.10.1
brainiak
imbalanced-learn==0.10.1
meegkit==0.1.3